body{
  font-family:Poiret One;
  color:white;
	background: url('./images/bgImage.jpg') no-repeat center center fixed;
  background-size: cover;
}

h1 {
  margin-top: 125px;
  text-align: center;
}

#temp {
  text-align: center;
}

#temp2 {
  font-size: 35px;
  display: inline-block;
  vertical-align: top;
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
}

span {
  font-size: 20px;
}

label,input,span:hover {
  cursor: pointer;
}

#box {
  max-width:730px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display:flex;
  justify-content:space-between;
}

#location,#weather,#wind{
  width:33%;
  text-align:center;
  text-decoration:underline;
}

.line {
  font-size: 25px;
}

p {
  margin-top: 35px;
  text-align: center;
  font-size: 20px;
}

#cityNameBox {
  max-width: 380px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#cityName {
  width: 300px;
  height: 31px;
  display:inline-block;
}

#cityBtn{
  height:31px;
  max-width:50px;
  display:inline-block;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
}

#cityBtn:hover{
  cursor:pointer;
}

#locationMap{
  width:500px;
  height:250px;
  margin-top:32px;
  margin-left:auto;
  margin-right:auto;
  border:1px solid white;
}

@media (max-width:768px) {
  h1{
    margin-top:45px;
  }
  #box{
    width:100%;
    margin-top:30px;
    display:block;
  }
  #location,#weather,#wind{
    display:block;
    width:100%;
    margin:15px 0;
  }
  #locationMap{
    width:99%;
  }
}

@media (max-width:468px) {
  #cityNameBox{
    width:100%;
    max-height:31px;
    max-width:100%;
    display:block;
    height:100%;
    overflow:hidden;
    /*
    overflow hidden to hide the extra border of the cityBtn;
    this together with the border-width for the cityBtn
    make the button and input field look properly aligned and
    of the same height on different browsers,Firefox especially; 
    */
  }
  #cityName{
    width:70%;
    height:33px;
    padding-top:0px;
  }
  #cityBtn{
    width:25%;
    max-width:25%;
    float:right;
    margin:0;
    padding:0;
    border-width:0px thin 4px thin;
  }
}
